.calendar > div {
  padding: calc(var(--spacing) * 2);
}

.calendar > .active {
  background-color: var(--color-pink-200);
}

.calendar > .relative > button {
  position: absolute;
  inset: 0;
  border-radius: 0;
}

.MuiPickersLayout-root {
  background: transparent !important;
}

.cal-wrapper .MuiPickersLayout-actionBar,
.cal-wrapper .MuiDayCalendar-weekDayLabel:nth-child(n + 6),
.cal-wrapper .MuiPickerDay-root[aria-colindex="6"],
.cal-wrapper .MuiPickerDay-root[aria-colindex="7"],
.cal-wrapper
  .MuiDayCalendar-weekContainer:has(
    > .MuiPickerDay-dayOutsideMonth
      + .MuiPickerDay-dayOutsideMonth
      + .MuiPickerDay-dayOutsideMonth
      + .MuiPickerDay-dayOutsideMonth
      + .MuiPickerDay-dayOutsideMonth
      + .MuiPickerDay-root[aria-colindex="6"]
  ) {
  display: none !important;
}

:where(.divide-y-1 > :last-child) {
  --tw-divide-y-reverse: 0;
  border-bottom-style: var(--tw-border-style);
  border-top-style: var(--tw-border-style);
  border-top-width: calc(1px * var(--tw-divide-y-reverse));
  border-bottom-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
}
:where(.divide-x-1 > :last-child) {
  --tw-divide-x-reverse: 0;
  border-inline-style: var(--tw-border-style);
  border-inline-start-width: calc(1px * var(--tw-divide-x-reverse));
  border-inline-end-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
}
